openai
langchain
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters
python-dotenv
pandas
unstructured # for unstructured markdown loader
markdown
faiss-cpu
chromadb
tiktoken
Flask==2.3.2
flask-cors==3.0.10
